<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <title>Prediction</title>
</head>

<body>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-xl text-2xl font-medium title-font mb-4 text-gray-900">Fill up the form for prediction</h1>
        <h2><b>{{prediction_text}}</b></h2>
      </div>
      <div>

      </div>
      <a class="btn btn-primary" href="./" role="button">Back</a>
      <form action='/predict' method='POST'>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Gender</label>
          <select class="form-select" id="gender" name="gender" aria-label="Default select example">
            <option selected>Select gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Married status</label>
          <select class="form-select" id="married" name="married" aria-label="Default select example">
            <option selected>Select married status</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Dependents</label>
          <select class="form-select" id="dependents" name="dependents" aria-label="Default select example">
            <option selected>Select dependents</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3+">3+</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Education</label>
          <select class="form-select" id="education" name="education" aria-label="Default select example">
            <option selected>Select education</option>
            <option value="Graduate">Graduate</option>
            <option value="Not Graduate">Not Graduate</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Self_Employed</label>
          <select class="form-select" id="employed" name="employed" aria-label="Default select example">
            <option selected>Select Self_Employed</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Credit_History</label>
          <select class="form-select" id="credit" name="credit" aria-label="Default select example">
            <option selected>Select Credit_History</option>
            <option value="1.000000">1.000000</option>
            <option value="0.000000">0.000000</option>
            <option value="0.842199">0.842199</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Property_Area</label>
          <select class="form-select" id="area" name="area" aria-label="Default select example">
            <option selected>Select Property_Area</option>
            <option value="Semiurban">Semiurban</option>
            <option value="Urban">Urban</option>
            <option value="Rural">Rural</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Enter ApplicantIncome</label>
          <input type="text" class="form-control" id="ApplicantIncome" name="ApplicantIncome"
            placeholder="ApplicantIncome">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Enter CoapplicantIncome</label>
          <input type="text" class="form-control" id="CoapplicantIncome" name="CoapplicantIncome"
            placeholder="CoapplicantIncome">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Enter LoanAmount</label>
          <input type="text" class="form-control" id="LoanAmount" name="LoanAmount" placeholder="LoanAmount">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Enter Loan_Amount_Term</label>
          <input type="text" class="form-control" id="Loan_Amount_Term" name="Loan_Amount_Term"
            placeholder="Loan_Amount_Term">
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>

    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>